@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&family=Unbounded:wght@200..900&display=swap');

/* font-family: "Unbounded", sans-serif; */
/* font-family: "Red Hat Mono", monospace; */







*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --naranja:#E74722;
    --azul: #344D99;
    --amarillo:#FFDF3F ;
    --crema: #F2EDE3;
    --ceniza: #212121;
}

header{
    position: fixed;

    width: 100%;
    background-color: var(--naranja);
    height: 15vh;
    align-content: center;
    z-index: 1;
}

#header{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}

#header div span{
    font-size: 3em;
    color: var(--amarillo);
    
}

nav{
    display: none;
}


/* ____ */

#portada{
    height: 100vh;
    width: 100%;
    background-image: url(img/fondo3.png), linear-gradient(to top, #f2ede34b, transparent); 
    background-blend-mode: color;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: end;
    justify-content: center;
    color: var(--ceniza);

}

#portada div{
    max-width: 1000px;
    margin: 80px;
}

h1{
    
    font-family: "Unbounded", sans-serif;
    font-size: 3em;
    text-align: center;
    
    


    
}

#portada p{
    display: none;
}



/* _______ */

#categorias{
    background-color: var(--azul);
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-bottom: 40px;
    

    
}



#categorias article{
    padding: 20px;
    border-radius: 22px;
    background-color: var(--crema);
    width: 90%;
    position: relative;


}

#categorias div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#categorias article > img{
    width: 100%;
    border-radius: 20px;
    transition: 0.3s;
}

#categorias h3{
    font-family: "Unbounded", sans-serif;
    color: var(--azul);
    font-size: 1.8em;
    padding: 0.6em 0;

}

#categorias h2{
    font-family: "Unbounded", sans-serif;
    font-size: 2em;
    padding: 2em;
    color: var(--crema);
    transition: 0.3s;

}

#categorias a{
    display: inline-block;
    padding: 15px;
    border-radius: 50px;
    background-color: var(--naranja);
    color: var(--amarillo);
    font-family: "Unbounded", sans-serif;
    font-weight: 600;
    margin: 20px 0;
    border: var(--naranja) solid 4px;
    transition: 0.3s;
    

}

#categorias a:hover{
    background-color: var(--crema);
    border: var(--naranja) solid 4px;
    color: var(--azul);
    padding: 15px 30px;
    
}

#categorias p{
    font-family: "Red Hat Mono", monospace;
    font-size: 1.2em;
    color: var(--ceniza);

}

#categorias article:nth-of-type(4) img{
    display: none;
    
}

#categorias article:nth-of-type(5){
    display: none;
}

#categorias article:hover img{
    filter: saturate(2);
}

#categorias article:hover h3{
    color: var(--naranja);
}

#categorias p:nth-of-type(2){
    display: none;
}






/* _________ */

#galeria{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 400px);
    width: 100%;
    margin: 0 auto;
    
}

#galeria img{

    object-fit: cover;
    width: 100%;
    height: 100%;

}


#galeria article:nth-of-type(n+4){
    display: none;
}

#galeria article:nth-of-type(2) h3{
    font-family: "Unbounded", sans-serif;
    font-size: 1.5em;
    color: var(--naranja);
    text-align: center;
    margin-bottom: 0.5em;
    text-shadow: 2px 2px 2px var(--ceniza);

}

#galeria a{
    display: inline-block;
    padding: 0.6em 1em;
    font-size: 1.2em;
    font-family: "Unbounded", sans-serif;
    background-color: var(--amarillo);
    color: var(--azul);
    border-radius: 50px;
    transition: 0.3s;

}

#galeria a:hover{
    background-color: var(--azul);
    color: var(--crema);
    padding: 0.6em 1.5em;
    border-radius: 10px;

}

#galeria article:nth-of-type(2) div{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

#galeria article:nth-of-type(2){
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

/* _____ */

#formu{
    
    text-align: center;
    background-color: #344D99;
    padding: 50px;


}

#formu h2{
    font-size: 2em;
    font-family: "Unbounded", sans-serif;
    color: var(--crema);
    

}



form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mail{
    padding: 1.5em;
    margin: 2em;
    border-radius: 10px;
    border: var(--naranja) 5px solid;
    width: 300px;
    background-color: var(--crema);
}

#enviar{
    padding: 1em;
    background-color: var(--amarillo);
    border-radius: 50px;
    border: none;
    font-family: "Unbounded", sans-serif;
    color: #E74722;
    font-weight: 600;
    font-size: 1.2em;
    transition: 0.3s;

}

#enviar:hover{
    background-color: var(--naranja);
    color: var(--amarillo);
    border-radius: 15px;
    padding: 1em 1.5em;
}





/* ___ */

footer{
    background-color:var(--amarillo);
    padding: 20px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

footer h2{
    font-size: 2em;
    font-family: "Unbounded", sans-serif;
    color: var(--azul);
}

footer div a{
    transition: 0.3s;
    display: inline-block;
}

footer div a:hover{
    transform: scale(120%);
    margin: 0  10px;

}













/*//////////////
//// TABLET ////
//////////////*/


@media all and (min-width:768px){

    #header div span{
        display: none;

    }

    nav{
        display: block;
        flex-grow: 1;
    }

    header>div>a:first-of-type{
        flex-grow: 1;
    }

    nav a{
        padding: 10px;
        background-color: var(--crema);
        color: var(--azul);
        font-family: "Unbounded", sans-serif;
        font-weight: 500;
        border-radius: 50px;
        font-size: 0.9em;
        border: var(--crema) solid 2px;
        transition: 0.3s;
        display: inline-block;
        
    }

    nav a:hover{
        background-color: var(--azul);
        color: var(--crema);
        border-radius: 10px;
        border: var(--crema) solid 2px;
        padding: 10px 20px

    }

    nav a:last-of-type{
        display: none;
    }


    /* ____ */

    #portada{
        justify-content: start;
    }

    h1{
        text-align: left;
    }

    /* ____ */

    

    #categorias div{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        
    }

    #categorias article{
        width: 45%;


    }

    #categorias article:nth-of-type(4) img{
        display: block;
    }

    #categorias article{
        position: relative;
        padding-bottom: 150px;
    }

    #categorias a{
        position: absolute;
        bottom: 10px;
        left: 20px;
    }


    /* ________ */

    #galeria{
        grid-template-columns: 1fr 1fr;

    }

    #galeria article:nth-of-type(4){
        display: flex;
        grid-column: span 2;
        position: relative;
    
    }

    #galeria article:nth-of-type(2){
        grid-row: span 2;
    }

    #galeria article:nth-of-type(4) div{
        position: absolute;
        bottom: 50px;
        left: 50px;
        width: 75%;
    
    }

    #galeria article:nth-of-type(4) h3{
        font-family: "Unbounded", sans-serif;
        font-size: 1.5em;
        color: var(--naranja);
        margin-bottom: 0.5em;
        text-shadow: 2px 2px 2px var(--ceniza);
    }

     #galeria article:nth-of-type(4) p{
        font-family: "Red Hat Mono", monospace;
        color: #212121;
        font-size: 1.5em;
        font-weight: 600;
        text-shadow: 2px 2px 2px var(--crema);
     }

     /* _____ */


    
     form{
        flex-direction: row;
        justify-content: center;
     }

     /* ____ */

     footer{
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 20px;
     }

    
    


    



}

/*//////////////
//// COMPU /////
//////////////*/


@media all and (min-width:1200px){

nav a:last-of-type{
        display: inline-block;
        background-color: var(--amarillo);
        border: var(--amarillo) solid 2px;

    }

     nav a:last-of-type:hover{
        
        color: var(--naranja);
        
    }

    nav{
        flex-grow: 0;
    }

    header>div>a:first-of-type{
        flex-grow: 0;
    }

    /* _____ */

    #portada div{
        margin-left: 250px;
    }

    #portada p{
        display: block;
        font-family: "Red Hat Mono", monospace;
        font-size: 2em;
        font-weight: 600;
        margin-top: 0.5em;
    }


    /* ______ */

    #categorias article{
        width: 30%;


    }

    #categorias article:nth-of-type(5){
        display: block;
    }

    #categorias p:nth-of-type(2){
    display: block;
    background-color: var(--amarillo);
    color: var(--azul);
    font-weight: 600;
    padding: 0.5em;
    position: absolute;
    top: 40px;
    right: 0;
    box-shadow: var(--ceniza) -3px 3px 10px;

        
    }

    #categorias article p:nth-of-type(2){
        transition: 0.3s;
    }

    #categorias article:hover p:nth-of-type(2){
        transform: scale(115%);

    }


    /* ______ */

    #galeria{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 50vh 50vh;
        width: 100%;


    }

    #galeria article:nth-of-type(n+5){
        display: block;
    }

    #galeria article:nth-of-type(4){
        grid-column: 3/5;
        grid-row: 1/2;
    }

    /* ____ */




}


/* ______/////__*__/////__*__ FIN __*__/////__*__/////_____ */